.bg-orange{
    background-color: #fceae8;
}
.h1-price{
    color: #FF136F;
    font-weight: 700;
}
.panda-btn-color{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.categories img{
    width: 100px;
}